body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(196, 196, 196);
}
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(imgs/folha.jpg);
    padding: 45px;

}


.menu .active {
    color: rgb(32, 249, 79);
}



.menu a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    margin-left: 16px;
    padding: 5px;
    font-weight: 700;
    transition: color 0.5s ease-in;

}

.menu a:hover {
    color: rgb(230, 255, 86);
    box-shadow: rgba(237, 237, 237, 0.3) 0px 0px 0px 3px;
    transition: box-shadow 0.5s;

}

.titulo h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3em;
    text-align: center;
    color: #4f8d22;
}

.resumo h2 {
    font-weight: 700;
    color: #d1ee28;
    text-shadow: 1px 1px #363636;
    background-color: #1f6402;
    padding: 10px;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: 2em;
}

.textoresumo {
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: 1.2em;
    display: flex;
    gap: 20px;
}

.capalivro img {
    width: 350px;
    border-radius: 40px;
    box-shadow: rgba(70, 70, 70, 0.4) 5px 5px, rgba(51, 50, 50, 0.3) 10px 10px, rgba(43, 43, 43, 0.2) 15px 15px, rgba(42, 41, 41, 0.1) 20px 20px, rgba(39, 38, 38, 0.05) 25px 25px;
}

.rodape {
    background-color: #4f8d22;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.imgsrodape img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.logo img {
    width: 70px;
}

@media screen and (max-width: 900px) {
    .capalivro img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .titulo h1 {
        font-size: 2.5em;
    }

    .textoresumo {
        font-size: 1em;
    }

    .cabecalho {
        flex-direction: column;
    }

    .menu a {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .capalivro img {
        display: none;
    }

    .rodape {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}